@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  background-color: #F0EBE3;
}
.logo{
  font-family: 'Playfair Display', serif;
  padding-left: 5vw;
  padding-top: 1vh;
  color: #2B2B2B;
}
.nav{
  height: 8vh;
  background-color: #E4DCCF;
}

.taskform{
  margin-top: 15vh;
  text-align: center;
}
.taskinput{
  background-color: transparent;
  border: 2px solid #2B2B2B;
  width: 35%;
  padding: 0.6rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  margin-right: 1.5%;
}
.submitbtn{
  min-width: 50px;
  width: 5%;
  margin-left: 1.5%;
  background-color: transparent;
  border: 2px solid #2B2B2B;
  padding: 0.6rem;
  color: #2B2B2B;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}
.todolist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
.listitem{
  border: 2px solid #2B2B2B;
  font-family: 'Playfair Display', serif;
  color: #2B2B2B;
  font-size: medium;
  padding: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  margin-top: 5vh;
  list-style: none;
}
.marktodo{
  border: 2px solid #2B2B2B;
  color: #2B2B2B;
  background-color: #7D9D9C;
  font-family: 'Playfair Display', serif;
  margin-top: 5vh;
  margin-left: 5%;
  min-width: 50px;
  width: 5%;
}
.deletetodo{
  border: 2px solid #2B2B2B;
  color: #2B2B2B;
  background-color: #576F72;
  font-family: 'Playfair Display', serif;
  margin-top: 5vh;
  min-width: 50px;
  width: 5%;
  margin-left: 1%;
}
.itemWrap{
  width: 50%;
  display: flex;
 
}
.marktrue{
  animation-name: mark;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes mark{
  from{
    background-color: transparent;
  }
  to{
    background-color: #7D9D9C;
  }
}